<h3>Add a pet to this application</h3>
<%= form_with url: "/adoption_applications/#{@adopt_app.id}", method: :get, local: true do |f| %>
  <%= f.label :search, "Search for pets:"  %>
  <%= f.text_field :search %>
  <%= f.submit "Search" %>
<% end %>

<ol>
  <% @pets.each do |pet| %>
    <li> Search Match -</li>
    <h4>Pet name: <%= pet.name %></h4>
    <%= form_with url: "/adoption_application_pets", method: :post, local: true do |form| %>
      <%= form.hidden_field :pet_id, value: pet.id %>
      <%= form.hidden_field :adoption_application_id, value: @adopt_app.id %>
      <%= form.submit "Adopt this pet" %>
    <% end %>
  <% end %>
</ol>
