<h1><%= @adopt_app.name %>'s Adoption Application</h1>

<h3>Status: <%= @adopt_app.status %></h3>
<p>Name: <%= @adopt_app.name %></p>
<p>Street Address: <%= @adopt_app.street_address %></p>
<p>City: <%= @adopt_app.city %></p>
<p>State: <%= @adopt_app.state %></p>
<p>Zip Code: <%= @adopt_app.zip_code %></p>
<p>Description: <%= @adopt_app.description %></p>
<p>Pets to adopt:
<% @adopt_app.pets.each do |pet| %>
  <%= pet.name %>
<% end %>
</p>

<%= render partial: "description_submit" unless @adopt_app.pets.count == 0 || @adopt_app[:status] == 'Pending' %>

<%= render partial: "add_pets" unless @adopt_app[:status] == 'Pending' %>
